h1 {color: rgb(29, 28, 29);
background-color: rgb(230, 21, 21);
text-align: center;
border-style: solid;
}
#ima {width: 20%;}

h2 {color: rgb(29, 28, 29);
    background-color: rgb(230, 21, 21);
    text-align: center;
    border-style: solid;
    }
 #ida {width: 20%;}

 h3 {color: rgb(29, 28, 29);
    background-color: rgb(230, 21, 21);
    text-align: center;
    border-style: solid;
    }
    #iga {width: 20%;}